/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



        html,body {
            min-width: :100%;
            min-height:100%;
            font-family: 'Lato', sans-serif;
        }

        .overlay, .bottom-cta-outer {
            background: linear-gradient(328deg, #00e8d7, #9003ff, #00e8d7);
            background-size: 600% 600%;
            animation: AnimationName 30s ease infinite;
            width:100vw;
            height:100vh;
            text-align: center;
            color:#fff;
        }

        

        h2 {
            background: -webkit-linear-gradient(328deg, #00e8d7, #9003ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:2em 0 1em 0;

        }

        .logo-right {
            width:100%;
            position:fixed;
            top:20px;
        }

        .logo-right-wrapper {
            width:100%;
            margin:0 auto;
            text-align: left;
        }

        .logo-right img {
            width:100%;
            max-width: 150px;
            margin-left: 20px;
            height:auto;
        }

        h2{
            position:relative;
            font-size:32px;
            padding-top: 4em;
        }

        h2:before{
            content:"";
            width:2em;
            height:2px;
            background-color:#00e8d7;
            position:absolute;
            left:0;
            top: 3.3em;

        }

        .spacer-2em {
            height:2em;
        }

        a.button {
            padding:.6em 1em;
            font-size: 18px;
            display: inline-block;
            border:1px solid rgba(255,255,255,.6);
            color:#fff;
            text-decoration:none;
            position: relative;
            transition:300ms;
            transition-timing-function: cubic-bezier(.83,.01,.25,1);
            animation-name: Buildin;
            animation-duration: 600ms;
            animation-fill-mode: both;
            animation-delay: 600ms;
            border-radius: 3px;
        }



        a.button:before {
            content:"";
            height:47px;
            width:0%;
            background:yellow;
            position:absolute;
            top:0;
            left:0;
            z-index: -1;
            transition: 300ms;
            border-radius: 2px;
            transition-timing-function: cubic-bezier(.83,.01,.25,1);

        }

        a.button:hover:before {
            content:"";
            height:47px;
            width:100%;
            background:yellow;
            position:absolute;

        }

        a.button:hover {
            color:#525423;
            border:1px solid yellow;
        }

        a.button-secondary {
            padding:.6em 1em;
            font-size: 18px;
            display: inline-block;
            color:rgba(255,255,255,.6);
            text-decoration:none;
            transition:300ms;
            transition-timing-function: cubic-bezier(.83,.01,.25,1);
            animation-name: Buildin;
            animation-duration: 1.5s;
            animation-fill-mode: both;
            animation-delay: 1.25s;
        }

        a.button-secondary:hover {
            color:rgba(255,255,255,1);
        }

        .highlight {
            background:yellow;
            color:#969940;
        }

        h3, h4, h5 {
            color:#444;
        }

        p.intro-text {
            font-size:32px;
            color:#999;
            padding-top:1em;
        }
            


@-webkit-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}
@keyframes AnimationName { 
    0%{background-position:4% 0%}
    50%{background-position:97% 100%}
    100%{background-position:4% 0%}
}


            div.logo {
                position:fixed;
                top:50%;
                left:50%;
                transform: translateX(-50%) translateY(-50%);
                width:50%;
                min-width: 200px;
                max-width: 380px;


            }

            div.logo img {
                animation-name: Buildin;
                animation-duration: 600ms;
                animation-fill-mode: both;
            }

            div.logo p {
                color:rgba(255,255,255,.8);
                font-size: 18px;
                text-align: center;
                animation-name: Buildin;
                animation-duration: 600ms;
                animation-fill-mode: both;
                animation-delay: 300ms;
                margin-top: 0em;
                width:100%;
                font-weight: bold;
            }
            
            div.logo img {
                width:100%;
            }

            div.logo h1 {
            font-size: 60px;
            line-height: 1;
            margin-bottom:.3em;
            }



@keyframes Buildin { 
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0px)}
}
            
    .app-info {
        position:relative;
        z-index: 100;
        background:whitesmoke;
        padding:3em;
    }

    .app-info-content {
        max-width: 36em;
        padding-left:0;
        position:relative;
        margin:0 auto;
        color:#666;
    }

    ul {
        padding-left:1.6em;
    }

    ul li {
        margin:1em 0;
        list-style: none;
        position:relative;
        padding:0;
        display: inline-block;
    }

    ul li:before {
        content:"•";
        position:absolute;
        left:-2.6em;
        top:.6em;
        color:#00e8d7;
        font-size: .5em

    }


    .table-of-contents {
        position: fixed;
        z-index: 999;
        top:0;
        left:0;
        width:100%;
        font-size: .8em;
        text-transform:uppercase;
        text-align: center;
        opacity:0;
        transition:300ms;
        transform:translateY(-20px);
        -webkit-box-shadow: 0px 3px 41px 0px rgba(144,3,255,0.06);
-moz-box-shadow: 0px 3px 41px 0px rgba(144,3,255,0.06);
box-shadow: 0px 3px 41px 0px rgba(144,3,255,0.06);
Copy Text

    }

    .table-of-contents.show {
        opacity:1;
        background-color: white;
        transform:translateY(0px);

    }

    .darklogo {
        width:150px;
        height:auto;
        margin:1em 20px;
    }

    .darklogo img{
        width:100%;
        height:auto;
    }

    .table-of-contents ul {
        padding: 0;
        margin:0;

    }

    .table-of-contents ul li:before{
        content:"";
    }

    .table-of-contents ul li a{
        text-decoration:none;
        color:rgba(0,0,0,.4);
        display: inline-block;
        position: relative;
        padding:.6em;
        transform: translateY(.3em);
        transition:300ms;
    }

    .table-of-contents ul li a:hover{
        text-decoration:none;
        color:rgba(0,0,0,.9);
    }

    .table-of-contents ul li a:before {
            content:"";
            height:100%;
            width:0%;
            background:yellow;
            position:absolute;
            top:0;
            left:0;
            z-index: -1;
            transition: 300ms;
            transition-timing-function: cubic-bezier(.83,.01,.25,1);

        }

        .table-of-contents ul li a:hover:before {
            content:"";
            height:100%;
            width:100%;
            background:yellow;
            position:absolute;

        }


         .bottom-cta-outer {
            position: relative;
            z-index: 100;
            padding:1em 0;
            color:#fff;
            position:relative;
         }

         .bottom-cta-inner {
            max-width: 36em;
            font-size: 2em;
            position: relative;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%)
         }








@media screen and (max-width: 850px) {
    .table-of-contents {
        position: static;
        top:3em;
        left:50%;
        margin-left:0;
        width:100%;
        font-size: .6em;
        text-transform:uppercase;
        opacity:1;
        transition:300ms;

    }

    .app-info-content {
        max-width: 36em;
        padding-left:0;
        position:relative;
        margin:0 auto;
        color:#666;
    }

    .table-of-contents.show {
        opacity:1;


    }

    .table-of-contents ul {
        padding: 0;

    }

    .table-of-contents ul li{
        display:inline-block;
    }

    .table-of-contents ul li:before{
        content:"";
    }

    .table-of-contents ul li a{
        text-decoration:none;
        color:rgba(0,0,0,.4);
        display: inline-block;
        position: relative;
        padding:.6em;
        margin:0 1em;
    }

    
}



@media screen and (max-width: 400px) {
    .intro-text {
        font-size: 18px!important;
    }

    div.logo h1 {
            font-size: 30px;
            line-height: 1;
            margin-bottom:.6em;
            }

    .bottom-cta-inner {
            max-width: 36em;
            padding:1em;
            font-size: 2em;
            position: relative;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%)
         }

        h2{
            position:relative;
            font-size: 32px;
            padding-top: 4em;
        }

        .table-of-contents ul {
        padding: 0;

    }

    .table-of-contents ul li{
        display:block;
    }

    .table-of-contents ul li:before{
        content:"";
    }

    .table-of-contents ul li a{
        padding:1em;
        font-size: 12px;
        margin:0em;
    }
    
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
